* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}
.divButtons {
  display: flex;
  justify-content: space-around;
}
.main {
  width: 50%;
  margin: 150px auto;
}
.blue {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(63,18,84,1) 100%);
}
.content {
  border-radius: 10px;
  padding: 20px;
  min-height: 500px;
  background-color: aliceblue;
}
button {
  cursor: pointer;
  border-top-left-radius: 1em 5em;
  border-top-right-radius: 1em 5em;
  width: 120px;
  height: 30px;
  border: none;
}
.yellow {
  background-color: #fdb731;
}
